html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

#frame {
  perspective-origin: 8rem;
  perspective: 800px;
  transform-style: preserve-3d;
}

/* #frame:hover {
  transform: scale3d(1.05, 1.05, 1.05);
} */

#card {
  width: 400px;
  height: 600px;
  border-radius: 9px;
  background-image : url("../assets/space.jpeg");
  background-position: center;
  position: absolute;
  opacity: 0.5;
  backface-visibility: hidden;
}
.rot0{
  transform: rotateY(0deg) translateZ(-495px);
  animation: 둥글게 linear 30s infinite;
}

.rot1{
  transform: rotateY(45deg) translateZ(-495px);
  animation: 둥글게 linear 30s infinite;
}
.rot2{
  transform: rotateY(90deg) translateZ(-495px);
  animation: 둥글게 linear 30s infinite;
}
.rot3{
  transform: rotateY(135deg) translateZ(-495px);
  animation: 둥글게 linear 30s infinite;
}
.rot4{
  transform: rotateY(180deg) translateZ(-495px);
  animation: 둥글게 linear 30s infinite;
}
.rot5{
  transform: rotateY(225deg) translateZ(-495px);
  animation: 둥글게 linear 30s infinite;
}
.rot6{
  transform: rotateY(270deg) translateZ(-495px);
  animation: 둥글게 linear 30s infinite;
}
.rot7{
  transform: rotateY(315deg) translateZ(-495px);
  animation: 둥글게 linear 30s infinite;
}
.rot8{
  transform: rotateY(360deg) translateZ(-495px);
  animation: 둥글게 linear 30s infinite;
}

@keyframes 둥글게{
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}